.sign-up-in {
    background-color: #237b98;
    border: none;
    border-radius: 6px;
    color: white;
    cursor: pointer;
    font-weight: 400;
    margin-right: 4px;
    padding: 8px;
}

.close-button {
    text-align: center;
    border: none;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    margin-right: 12px;
    cursor: pointer;
}

.sign-up-in:focus {
    outline: none;
}

.sign-up-in:hover {
    background-color: #1c627a;
}

.close-button:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.lets-omakase {
    border: none;
    box-sizing: border-box;
    padding: 15px 20px;
    width: 100%;
    background-color: #DA3743;
    text-align: center;
    color: white;
    font-weight: 700;
    border-radius: 6px;
    transition: background-color 300ms ease-out;
    margin-bottom: 8px;
    cursor: pointer;
}

.search-lets-omakase {
  border: none;
  box-sizing: border-box;
  padding: 10px 10px;
  background-color: #DA3743;
  text-align: center;
  color: white;
  font-weight: 700;
  border-radius: 6px;
  transition: background-color 300ms ease-out;
  margin-left: 16px;
  width: 120px;
}

.leave-reivew-button {
  border: none;
    box-sizing: border-box;
    padding: 15px 20px;
    width: 180px;
    background-color: #DA3743;
    text-align: center;
    color: white;
    font-weight: 700;
    border-radius: 6px;
    transition: background-color 300ms ease-out;
    margin-bottom: 2rem;
    cursor: pointer;
    margin-left: 544px;
    font-size: 18px;
}

.submit-button {
  border: none;
    box-sizing: border-box;
    padding: 15px 20px;
    width: 180px;
    background-color: #DA3743;
    text-align: center;
    color: white;
    font-weight: 700;
    border-radius: 6px;
    transition: background-color 300ms ease-out;
    margin-bottom: 1rem;
    cursor: pointer;
    margin-right: 1rem;
    font-size: 16px;
}

.time-slot-button {
    border: none;
    box-sizing: border-box;
    background-color: #DA3743;
    padding: .5rem 1.75rem;
    text-align: center;
    color: white;
    font-weight: 700;
    border-radius: 6px;
    transition: background-color 300ms ease-out;
    cursor: pointer;
}

.cancel-button {
  font-size: 16px;
  cursor: pointer;
}

.cancel-button:hover {
  text-decoration: underline;
}

.restaurant-reserve {
  border: none;
  box-sizing: border-box;
  padding: 8px 8px;
  background-color: #DA3743;
  text-align: center;
  color: white;
  font-weight: 700;
  border-radius: 3px;
  transition: background-color 300ms ease-out;
  margin-right: 8px;
  margin-bottom: 8px;
  width: 80px;
  cursor: pointer;
}

.lets-omakase:hover, 
.search-lets-omakase:hover, 
.restaurant-reserve:hover, 
.leave-reivew-button:hover, 
.submit-button:hover, 
.time-slot-button:hover {
    background-color: #b8222d;
}

.lds-ring {
    display: inline-block;
    position: relative;
    width: 14px;
    height: 14px;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 14px;
    height: 14px;
    margin: 2px;
    border: 2px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .lds-ring-red {
    position: relative;
    width: 14px;
    height: 14px;
    margin: auto;
  }
  .lds-ring-red div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 14px;
    height: 14px;
    margin: 2px;
    border: 2px solid #fff;
    border-radius: 50%;
    animation: lds-ring-red 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #DA3743 transparent transparent transparent;
  }
  .lds-ring-red div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring-red div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring-red div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring-red {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
