html {
    background-color: whitesmoke;
}

.page-container {
    background-color: white;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    margin: auto;
    width: 1600px;
}

.page-content {
    border-top: 1px solid lightgrey;
    margin-top: 16px;
    padding-top: 16px;
}

.page-footer {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    background-color: #2d333f;
    width: 1600px;
    margin: auto;
    color: white;
    height: 48px;
    position: relative;
}

.page-footer-text {
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
}

.page-footer-github {
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.page-footer-linkedin {
    position: absolute;
    top: 50%;
    left: 57.5%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.page-footer a {
    text-decoration: inherit;
    color: inherit;
}

.profile-pic-container {
    width: 20%;
    margin-right: .5rem;
}

.profile-pic-container div {
    margin: auto;
    text-align: center;
    margin-bottom: .5rem;
}

.profile-pic-reviews {
    color: #6f737b;
    margin: auto;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-pic {
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: lightsalmon;
    color: white;
    font-weight: 500;
    text-transform: capitalize;
}

.profile-pic-reviews-icon {
    margin-right: 4px;
}

.profile-pic-edit {
    text-decoration: underline;
    color: #237b98;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-pic-edit a:first-child {
    margin-right: 8px;
}
